@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  background: #222222;
  color: #ccc;
}
td {
  border-top: 1px solid #bbbb88;
  font-size: 16pt;
  padding: 10px 20px 30px 0;
  text-align: left;
  vertical-align: top;
}
td.time {
  min-width: 160px;
}
.section-title {
  margin-bottom: 30px;
  text-align: left;
}
.description {
  font-size: 14pt;
}
.App {
  font-family: 'Varela Round', sans-serif;
  font-size: 24pt;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
}
#left {
  width: 35%;
  text-align: center;
}
#right {
  margin-left: 100px;
  color: #bbbb88;
}
.dayInfo {
  font-size: 20pt;
}
.clockHourLabel {
  font-size: 12pt;
}
