@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  background: #222222;
  color: #eee;
}
.App {
  font-family: 'Varela Round', sans-serif;
  font-size: 24pt;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.dayInfo {
  font-size: 20pt;
}
.clockHourLabel {
  font-size: 12pt;
}

.App > div {
  text-align: center;
  flex: 1;
}

#right {
  padding: 1em;
  line-height: 2em;
}
